@import "./setting.scss";

html {
    font-family: $contentFontFamily;
    height: 100%;
    width: 100%;
    
    body {
        height: 100%;
        width: 100%;
        min-width: 1024px;
        padding: 0;
        margin: 0;
        color: #303133
        ul, li {
            margin: 0;
            padding: 0;
        }

        li {
            list-style-type:none;
        }

        a {
            text-decoration: none;
        }

        input, button, [role=button] {
            outline-style: none;
        }
    }
}